%li{ id: dom_id(epic), data: { labels: epic.label_ids, id: epic.id } }
  .issue-box
    - if @can_bulk_update
      .issue-check.hidden
        = check_box_tag dom_id(epic, "selected"), nil, false, 'data-id' => epic.id, class: "selected-issuable"
    .issuable-info-container
      .issuable-main-info
        .issue-title.title
          %span.issue-title-text.qa-epic-title-text
            = link_to epic.title, epic_path(epic)
        .issuable-info
          %span.issuable-reference
            = epic.to_reference(@group)
          %span.issuable-authored.d-none.d-sm-inline-block
            &middot;
            opened #{time_ago_with_tooltip(epic.created_at, placement: 'bottom')}
            by #{link_to_member(@group, epic.author, avatar: false)}
          - if epic.start_date? || epic.end_date?
            &nbsp;
            %span.issuable-dates.d-inline-flex.align-items-center.align-top
              = sprite_icon('calendar', size: 14, css_class: 'mr-1')
              %span= epic_timeframe(epic)
          - if epic.labels.any?
            &nbsp;
            - epic.labels.each do |label|
              = render_label(label.present(issuable_subject: @group), tooltip: true, link: group_epics_path(@group, label_name:[label.name]), css: 'label-link')

      .issuable-meta
        %ul.controls
          - if epic.closed?
            %li.issuable-status
              = _('CLOSED')

          = render 'shared/issuable_meta_data', issuable: epic

        .float-right.issuable-updated-at.d-none.d-sm-inline-block
          %span
            = _('updated %{time_ago}').html_safe % { time_ago: time_ago_with_tooltip(epic.updated_at, placement: 'bottom', html_class: 'issue_update_ago') }
